<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precisa de Ajuda?</title>
</head>
<body>
    <h1>Fórum de Suporte</h1>

    <h2>Adicionar uma nova pergunta</h2>
    <form action="/pergunta" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="conteudo">Conteúdo:</label><br>
        <textarea id="conteudo" name="conteudo" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Enviar</button>
    </form>

   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas</title>
</head>
<body>
    <h1>Todas as Perguntas</h1>

    {% for pergunta in perguntas %}
        <h2>{{ pergunta.titulo }}</h2>
        <p>{{ pergunta.conteudo }}</p>
        <p>Autor: {{ pergunta.autor.nome }}</p>
    {% endfor %}
</body>
</html>
